/* css stylesheet */

body { margin: 0; padding: 0;}
#c6bar { background-color: #232527; height: 36px; width: 100%; position: absolute;}

#experience {
    background-image: url('../img/bg_tile.jpg');
    background-repeat: repeat;
    height: 684px;
    width: 1280px;
    margin-top: 36px;
    position: absolute;
    /*overflow: hidden;*/
    z-index: 0;
}

#center {
    position: relative;
    display: block;
    top: 50%;
    margin-top: -320px;
    height: 684px;
    text-align: center;
    line-height: 684px;
} 

/*scaling elements*/
#videoSelect {
    background-color: red;
    width: 81.41%;
    height: 88.33%;
    margin-left: 14.84%;
    position: absolute; 
    z-index: 1;
     line-height: 0;
}

#videoSelect img {
    vertical-align: middle;

}

/*static elements*/
.artTopLeft {
    background-color: yellow; 
    width: 548px; 
    height: 984px; 
    position: inherit;
    top: 0;
    left: 0;
    z-index: 0;
}

.artBottomRight {
    background-color: yellow; 
    width: 150px; 
    height: 430px;
    position: inherit;
    bottom: 0;
    right: 0;
    z-index: 0;
}

