.notebook-0 { top: 20%; left: 45%; }
.notebook-1 { top: 15%; left: 25%; }
.notebook-2 { top: 15%; left: 25%; }
.notebook-3 { top: 20%; left: 25%; }
.notebook-4 { top: 20%; left: 25%; }
.notebook-5 { top: 20%; left: 35%; }
.notebook-6 { top: 20%; left: 35%; }
.notebook-7 { top: 20%; left: 35%; }
.notebook-8 { top: 20%; left: 40%; }
