/* Siri Video Experience specific styles */

.annotation {
    min-width: 10%;
    max-width: 30%;
}
    @media only screen and (min-device-width: 768px) and (max-device-width: 1045px) and (orientation: portrait) {
        .annotation {
            min-width: 22%;
            max-width: 35%;
        }
    }

.a-text {
    max-width: 80%; padding: 10%; margin: 0 auto;
    text-align: center; line-height: 135%;
    font-family: 'Helvetica Neue Bold', 'Helvetica', arial, sans-serif; 
    font-size: 120%; color: #fff; letter-spacing: 0.03em; text-transform:uppercase;
    opacity: 0.55;
    transform: rotateX(25deg); -ms-transform: rotateX(25deg); -webkit-transform: rotateX(25deg); 

}

            
/* positioning */
.siri-0 { top: 53.5%; left: 37.9%; max-width: 25% }

