/* Lord of the Rings Video Experience specific styles */

.annotations__bubble {
    min-width: 24%; max-width: 30%;
}
    .annotations__style {
        position: relative; border-radius: 40px;
        background: url(../img/fantasy/annotation-right.png) repeat-y right, 
                    url(../img/fantasy/annotation-left.png) repeat-y left, 
                    url(../img/fantasy/annotation-top.png) repeat-x top, 
                    url(../img/fantasy/annotation-bottom.png) repeat-x bottom,
                    url(../img/fantasy/annotation-body.png);
    }
        .annotations__text {
            width: 80%; padding: 10%; margin: 0 auto;
            text-align: center; line-height: 100%; font-size: 105%; color: #fff;
            font-family: 'Sunshine', 'courier prime', georgia, serif;
        }

        .annotations__frame {
            background: url(../img/fantasy/annotation-bottomRight.png) no-repeat 100% 100%,
                        url(../img/fantasy/annotation-bottomLeft.png) no-repeat 0% 100%,
                        url(../img/fantasy/annotation-topRight.png) no-repeat 100% 0%,
                        url(../img/fantasy/annotation-topLeft.png) no-repeat 0% 0%;
            position: absolute; height: 100%; width: 100%; top: 0; left: 0;
        }
        
        .annotations__corner {
            position: absolute; height: 68px; width: 71px;
        }

            .annotations__corner--right {
                bottom: -14px; right: -14px;
                background: url(../img/fantasy/annotation-bottomRight_deco.png) no-repeat bottom right;
            }  

            .annotations__corner--left {
                top: -14px; left: -14px;
                background: url(../img/fantasy/annotation-topLeft_deco.png) no-repeat top left; 
            }  

        .annotations__tail { 
            position: absolute; width: 100%; left: 0;
        }
        
            .annotations__tail--bottomLeft-speech {
                background: url(../img/fantasy/bottomLeft-speech.png) no-repeat 10% 0%; 
                height: 42px; bottom: -36px;
            }

            .annotations__tail--bottomRight-speech {
                background: url(../img/fantasy/bottomRight-speech.png) no-repeat 35% 0%; 
                height: 42px; bottom: -36px;
            }

            .annotations__tail--topLeft-speech {
                background: url(../img/fantasy/topLeft-speech.png) no-repeat 65% 0%; 
                height: 42px; top: -36px;
            }

            .annotations__tail--topRight-speech {
                background: url(../img/fantasy/topRight-speech.png) no-repeat 80% 0%; 
                height: 42px; top: -36px;
            }

            .annotations__tail--bottomLeft-thought {
                background: url(../img/fantasy/bottomLeft-thought.png) no-repeat 10% 0%; 
                height: 28px; bottom: -28px;
            }

            .annotations__tail--bottomRight-thought {
                background: url(../img/fantasy/bottomRight-thought.png) no-repeat 75% 0%; 
                height: 28px; bottom: -28px;
            }

            .annotations__tail--topLeft-thought {
                background: url(../img/fantasy/topLeft-thought.png) no-repeat 65% 0%; 
                height: 28px; top: -28px;
            }

            .annotations__tail--topRight-thought {
                background: url(../img/fantasy/topRight-thought.png) no-repeat 90% 0%; 
                height: 28px; top: -28px;
            }

@media only screen and (min-device-width: 768px) and (max-device-width: 1045px){
    .annotations__bubble {
        min-width: 22%; max-width: 35%;
    }
        .annotations__text {
            font-size: 95%; padding: 15% 12%;
        }
}

/* positioning */
.lotr-0 { top: 6%; left: 4%; max-width: 22% }
.lotr-0 .annotations__tail--bottomRight-thought {  
    background: url(../img/fantasy/bottomRight-thought.png) no-repeat 75% 0%; 
}
.lotr-1 { top: 45%; left: 4%; max-width: 24% }
.lotr-1 .annotations__tail--topRight-thought {  
    background: url(../img/fantasy/topRight-thought.png) no-repeat 65% 0%; 
}
.lotr-2 { top: 50%; left: 30%; }
.lotr-2 .annotations__tail--topLeft-thought {  
    background: url(../img/fantasy/topLeft-thought.png) no-repeat 30% 0%; 
}
.lotr-3 { top: 65%; left: 55%; }
.lotr-4 { top: 40%; left: 71%; max-width: 24%}
.lotr-4 .annotations__tail--bottomLeft-thought {  
    background: url(../img/fantasy/bottomLeft-thought.png) no-repeat 60% 0%; 
}
.lotr-5 { top: 2%; left: 70%; }
.lotr-5 .annotations__tail--bottomLeft-thought {  
    background: url(../img/fantasy/bottomLeft-thought.png) no-repeat 50% 0%; 
}
.lotr-6 { top: 63%; left: 66%; }
.lotr-6 .annotations__tail--bottomLeft-thought {  
    background: url(../img/fantasy/bottomLeft-thought.png) no-repeat 40% 0%; 
}
.lotr-7 { top: 58%; left: 66%; max-width: 20%; }
.lotr-8 { top: 55%; left: 5%; min-width: 16%; max-width: 22%; }
.lotr-9 { top: 45%; left: 5%; max-width: 20%; }
.lotr-9 .annotations__tail--topLeft-thought {  
    background: url(../img/fantasy/topLeft-thought.png) no-repeat 25% 0%; 
}
.lotr-10 { top: 45%; left: 5%; }
.lotr-10 .annotations__tail--bottomRight-thought {  
    background: url(../img/fantasy/bottomRight-thought.png) no-repeat 25% 0%; 
}
.lotr-11 { top: 8%; left: 10%; max-width: 20%; }
.lotr-11 .annotations__tail--bottomRight-thought {  
    background: url(../img/fantasy/bottomRight-thought.png) no-repeat 75% 0%; 
}
.lotr-12 { top: 5%; left: 65%; }
.lotr-13 { top: 8%; left: 8%; }
.lotr-14 { top: 8%; left: 62%; }
.lotr-15 { top: 60%; left: 5%; max-width: 28%; }
.lotr-15 .annotations__tail--topRight-thought {  
    background: url(../img/fantasy/topRight-thought.png) no-repeat 40% 0%; 
}
.lotr-16 { top: 60%; left: 35%; max-width: 28%;}
.lotr-17 { top: 5%; left: 75%;  min-width: 18%; max-width: 20%; }
.lotr-18 { top: 10%; left: 5%; max-width: 28%}