/* Fantasy Video Experience specific styles */

.a-style {
    position: absolute;
    border-radius: 40px;
    background: url('../media/fantasy/annotation-right.png') repeat-y right, 
                url('../media/fantasy/annotation-left.png') repeat-y left, 
                url('../media/fantasy/annotation-top.png') repeat-x top, 
                url('../media/fantasy/annotation-bottom.png') repeat-x bottom,
                url('../media/fantasy/annotation-body.png');
    min-width: 18%;
    max-width: 25%;
}

.a-frame {
    background: url('../media/fantasy/annotation-bottomRight.png') no-repeat 100% 100%,
                url('../media/fantasy/annotation-bottomLeft.png') no-repeat 0% 100%,
                url('../media/fantasy/annotation-topRight.png') no-repeat 100% 0%,
                url('../media/fantasy/annotation-topLeft.png') no-repeat 0% 0%;
    margin: 0px;
}
    .a-deco-right {
      position: absolute;
      background: url('../media/fantasy/annotation-bottomRight_deco.png') no-repeat bottom right; 
      height: 68px; width: 71px;
      bottom: -14px;
      right: -14px;
    }  

    .a-deco-left {
      position: absolute;
      background: url('../media/fantasy/annotation-topLeft_deco.png') no-repeat top left; 
      height: 68px; width: 71px;
      top: -14px;
      left: -14px;
    }  

.a-text {
    width: 80%;
    padding: 10%;
    margin: 0 auto;
    text-align: center;
    font-family: "SherwoodRegular", "courier prime", georgia, serif;
    font-size: 70%;
    line-height: 100%;
    color: #fff;
}
    @font-face {
        font-family: SherwoodRegular;
        src: url('../media/fantasy/SherwoodRegular.ttf') format('truetype'),
            url('../media/fantasy/SherwoodRegular.woff') format('woff'), 
            url('../media/fantasy/SherwoodRegular.eot') format('embedded-opentype'), 
            url('../media/fantasy/SherwoodRegular.svg#sherwoodregular') format('svg'); /* mobile browsers */
        font-weight: normal;
        font-style: normal;
    }

/* tail styles */
.a-tail-bottomLeft-speech {
    position: absolute;
    background: url('../media/fantasy/bottomLeft-speech.png') no-repeat 10% 0%; 
    height: 42px; width: 100%;
    bottom: -36px;
    left: 0;
}

.a-tail-bottomRight-speech {
    position: absolute;
    background: url('../media/fantasy/bottomRight-speech.png') no-repeat 35% 0%; 
    height: 42px; width: 100%;
    bottom: -36px;
    left: 0;
}

.a-tail-topLeft-speech {
    position: absolute;
    background: url('../media/fantasy/topLeft-speech.png') no-repeat 65% 0%; 
    height: 42px; width: 100%;
    top: -36px;
    left: 0;
}

.a-tail-topRight-speech {
    position: absolute;
    background: url('../media/fantasy/topRight-speech.png') no-repeat 80% 0%; 
    height: 42px; width: 100%;
    top: -36px;
    left: 0;
}

.a-tail-bottomLeft-thought {
    position: absolute;
    background: url('../media/fantasy/bottomLeft-thought.png') no-repeat 10% 0%; 
    height: 24px; width: 100%;
    bottom: -24px;
    left: 0;
}

.a-tail-bottomRight-thought {
    position: absolute;
    background: url('../media/fantasy/bottomRight-thought.png') no-repeat 35% 0%; 
    height: 24px; width: 100%;
    bottom: -24px;
    left: 0;
}

.a-tail-topLeft-thought {
    position: absolute;
    background: url('../media/fantasy/topLeft-thought.png') no-repeat 65% 0%; 
    height: 24px; width: 100%;
    top: -26px;
    left: 0;
}

.a-tail-topRight-thought {
    position: absolute;
    background: url('../media/fantasy/topRight-thought.png') no-repeat 90% 0%; 
    height: 24px; width: 100%;
    top: -26px;
    left: 0;
}


/* positioning */
.lotr-0 { margin-top: 7%; margin-left: 50%; }
.lotr-1 { margin-top: 25%; margin-left: 60%; }
.lotr-2 { margin-top: 35%; margin-left: 5%; }
.lotr-3 { margin-top: 30%; margin-left: 50%; }
.lotr-4 { margin-top: 29%; margin-left: 60%; }
.lotr-5 { margin-top: 12%; margin-left: 10%; }
.lotr-6 { margin-top: 20%; margin-left: 7%; }
.lotr-7 { margin-top: 26%; margin-left: 7%; }
.lotr-8 { margin-top: 30%; margin-left: 5%; }
.lotr-9 { margin-top: 15%; margin-left: 4%;; }
.lotr-10 { margin-top: 30%; margin-left: 5%; }
.lotr-11 { margin-top: 15%; margin-left: 8%; }
.lotr-12 { margin-top: 6%; margin-left: 60%; }
.lotr-13 { margin-top: 28%; margin-left: 6%; }
.lotr-14 { margin-top: 6%; margin-left: 55%;; }
.lotr-15 { margin-top: 35%; margin-left: 6%; }
.lotr-16 { margin-top: 25%; margin-left: 28%; }
.lotr-17 { margin-top: 30%; margin-left: 61%; }
.lotr-18 { margin-top: 20%; margin-left: 5%; }