/* The Notebook Video Experience specific styles */

.annotations__bubble {
    min-width: 20%; max-width: 28%;
}
    .annotations__style {
        position: relative; border-radius: 16px; 
        background: url(../img/romance/annotation-body.png);
    }
        .annotations__text {
            padding: 0.75em 1em; text-align: center;
            font-size: 1.75em; /* 28px */ line-height: 1; color: #352e2e;
            font-family: 'LadylikeBB', georgia, serif;
        }
            @font-face {
                font-family: LadylikeBB;
                src: url(../media/romance/ladylikebb-webfont.ttf) format('truetype'),
                    url(../media/romance/ladylikebb-webfont.woff) format('woff'), 
                    url(../media/romance/ladylikebb-webfont.eot) format('embedded-opentype'), 
                    url(../media/romance/ladylikebb-webfont.svg#ladylike_bbregular) format('svg'); 
                font-weight: normal; font-style: normal;
            }

        .annotations__frame, .annotations__corner { 
            position: absolute; width: 105%; height: 110%; left: -2.5%; top: -5%; 
        }

            .annotations__frame {
                border-radius: 46px;
                background: url(../img/romance/annotation-right.png) repeat-y right, 
                            url(../img/romance/annotation-left.png) repeat-y left, 
                            url(../img/romance/annotation-top.png) repeat-x top, 
                            url(../img/romance/annotation-bottom.png) repeat-x bottom;
            }

            .annotations__corner {
                background: url(../img/romance/annotation-bottomRight.png) no-repeat bottom right,
                            url(../img/romance/annotation-topRight.png) no-repeat top right,
                            url(../img/romance/annotation-bottomLeft.png) no-repeat bottom left,
                            url(../img/romance/annotation-topLeft.png) no-repeat top left;
            }

        .annotations__tail {
            position: absolute; width: 100%; left: 0;
        }

            .annotations__tail--bottomLeft-speech {
                background: url(../img/romance/bottomLeft-speech.png) no-repeat 15% 0%; 
                height: 22px; bottom: -15px;
            }

            .annotations__tail--bottomRight-speech {
                background: url(../img/romance/bottomRight-speech.png) no-repeat 80% 0%; 
                height: 22px; bottom: -15px;
            }

            .annotations__tail--topLeft-speech {
                background: url(../img/romance/topLeft-speech.png) no-repeat 15% 0%; 
                height: 22px; top: -15px;
            }

            .annotations__tail--topRight-speech {
                background: url(../img/romance/topRight-speech.png) no-repeat 80% 0%; 
                height: 22px; top: -15px;
            }

            .annotations__tail--bottomLeft-thought {
                background: url(../img/romance/bottomLeft-thought.png) no-repeat 15% 0%; 
                background-size: contain;
                height: 30%;  bottom: -30%;
            }

            .annotations__tail--bottomRight-thought {
                background: url(../img/romance/bottomRight-thought.png) no-repeat 80% 0%; 
                background-size: contain;
                height: 30%; bottom: -30%;
            }

            .annotations__tail--topLeft-thought {
                background: url(../img/romance/topLeft-thought.png) no-repeat 15% 0%; 
                background-size: contain;
                height: 30%; top: -30%;
            }

            .annotations__tail--topRight-thought {
                background: url(../img/romance/topRight-thought.png) no-repeat 80% 0%; 
                background-size: contain;
                height: 30%; top: -30%;
            }

@media only screen and (min-width: 1412px) {
    .annotations__frame, .annotations__corner { 
        width: 102%; height: 104%; left: -1%; top: -2%;
    }
}

@media only screen and (max-width: 769px) {
    .annotations__frame, .annotations__corner { 
        width: 108%; height: 112%; left: -4%; top: -6%;
    }
}

/* bubble and tail positioning */
.notebook-0 { top: 3%; left: 58%; }
.notebook-1 { top: 2%; left: 6%; max-width: 34% }
.notebook-2 { top: 2%; left: 6%; max-width: 34% }
.notebook-3 { top: 3%; left: 48%; max-width: 28%}
.notebook-4 { top: 8%; left: 15%; max-width: 30% }
.notebook-5 { top: 15%; left: 43%; max-width: 34%}
.notebook-6 { top: 3%; left: 10%; max-width: 34%}
.notebook-7 { top: 4%; left: 15%; max-width: 34% }
.notebook-8 { top: 3%; left: 40%; max-width: 40%}
.notebook-9 { top: 3%; left: 38%; }
.notebook-10 { top: 4%; left: 49%; max-width: 40%}
.notebook-11 { top: 4%; left: 26%; }
.notebook-12 { top: 4%; left: 46%; }