/* Fist of Fury Video Experience specific styles */

.annotations__bubble {
    min-width: 28%; max-width: 40%;
}
    .annotations__style {
        position: relative; padding: 11px;
        background: url(../img/action/annotation-body.png) content-box;
    }
        .annotations__frame {
            background: url(../img/action/annotation-right.png) repeat-y right, 
                        url(../img/action/annotation-left.png) repeat-y left, 
                        url(../img/action/annotation-top.png) repeat-x top, 
                        url(../img/action/annotation-bottom.png) repeat-x bottom;
            margin: -11px;
        }

        .annotations__text {
            width: 90%; padding: 8% 5%; margin: 0 auto;
            text-align: center; font-size: 105%; line-height: 100%; color: #111111;
            font-family: 'uppercut-angle', 'courier prime', georgia, serif;
        }

        .annotations__corner {
            position: absolute; height: 100%; width: 12px; top: 0; 
        }
            .annotations__corner--right {
                right: 0;
                background: url(../img/action/annotation-bottomRight.png) no-repeat bottom right,
                            url(../img/action/annotation-topRight.png) no-repeat top right;  
            }  
            .annotations__corner--left {
                left: 0;
                background: url(../img/action/annotation-bottomLeft.png) no-repeat bottom left,
                            url(../img/action/annotation-topLeft.png) no-repeat top left;
            } 

        .annotations__tail {
            position: absolute; height: 35%; width: 100%; left: 0;
        }

            .annotations__tail--bottomLeft-speech {
                background: url(../img/action/bottomLeft-speech.png) no-repeat 20% 0%; 
                background-size: contain; bottom: -25%;
            }

            .annotations__tail--bottomRight-speech {
                background: url(../img/action/bottomRight-speech.png) no-repeat 88% 0%; 
                background-size: contain; bottom: -25%;
            }

            .annotations__tail--topLeft-speech {
                background: url(../img/action/topLeft-speech.png) no-repeat 20% 0%;
                background-size: contain; top: -25%;
            }

            .annotations__tail--topRight-speech {
                background: url(../img/action/topRight-speech.png) no-repeat 88% 0%; 
                background-size: contain; top: -25%;
            }

            .annotations__tail--bottomLeft-thought {
                background: url(../img/action/bottomLeft-thought.png) no-repeat 20% 0%; 
                background-size: contain; bottom: -30%;
            }

            .annotations__tail--bottomRight-thought {
                background: url(../img/action/bottomRight-thought.png) no-repeat 88% 0%; 
                background-size: contain; bottom: -30%;
            }

            .annotations__tail--topLeft-thought {
                background: url(../img/action/topLeft-thought.png) no-repeat 20% 0%; 
                background-size: contain; top: -30%;
            }

            .annotations__tail--topRight-thought {
                background: url(../img/action/topRight-thought.png) no-repeat 88% 0%; 
                background-size: contain; top: -30%;
            }

/* bubble and tail positioning */
.lee-0 { top: 7%; left: 55%; min-width: 16%} 
.lee-1 { top: 10%;left: 18%;  min-width: 20%; max-width: 24% }
.lee-2 { top: 13%; left: 18%; }
.lee-3 { top: 13%; left: 18%; max-width: 28% }
.lee-4 { top: 13%; left: 20%; max-width: 28% }
.lee-5 { top: 8%; left: 24%; min-width: 20%; max-width: 28% }
.lee-6 {top: 5%; left: 52%; min-width: 20%; max-width: 28% }
.lee-7 { top: 12%; left: 56%; min-width: 20%; max-width: 28% }
.lee-8 { top: 9%; left: 22%; min-width: 20%; max-width: 28%}
.lee-9 { top: 5%; left: 5%; ; max-width: 28%}
.lee-10 { top: 5%; left: 73%; min-width: 18%; max-width: 24% }
.lee-11 { top: 5%; left: 75%; min-width: 18%; max-width: 20% }
.lee-12 { top: 5%; left: 28%; max-width: 28% }
.lee-13 {top: 8%; left: 60%; min-width: 26%; max-width: 28% }
.lee-14 {top: 8%; left: 30%; min-width: 20%; max-width: 28% }
.lee-15 { top: 8%; left: 52%; min-width: 20% }
.lee-16 { top: 8%; left: 33%; min-width: 20%; max-width: 26% }
.lee-17 { top: 10%; left: 55%; min-width: 20% }
.lee-18 { top: 8%; left: 20%; max-width: 28% }