/* Siri Video Experience specific styles */

.annotation {
    width: 20%;
}
    @media only screen and (min-device-width: 768px) and (max-device-width: 1045px) and (orientation: portrait) {
        .annotation {
            min-width: 22%;
            max-width: 35%;
        }
    }

.a-text {
    max-width: 75%; padding: 10%; margin: 0 auto;
    text-align: center; line-height: 135%;
    font-family: 'Helvetica Neue Bold', 'Helvetica', arial, sans-serif; 
    font-size: 90%; color: #fff; letter-spacing: 0.03em; text-transform:uppercase;
    opacity: 0.55;
    -moz-transform: rotateX(25deg); -o-transform: rotateX(25deg); -ms-transform: rotateX(25deg); -webkit-transform: rotateX(25deg); transform: rotateX(25deg);

}

            
/* positioning */
.siri-0 { top: 51%; left: 40.3%; max-width: 25% }

