.vjs-default-skin .vjs-big-play-button { display:none !important; }
html {
    font-family: sans-serif;
}

ul {
    list-style: none;
    padding: 0px;
}

video {
    width: 100%;
}

[c6-annotations-player] {
    position: relative;
    width: 100%;
}
.annotation {
    position: absolute;
    width: 200px;
    min-height: 50px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #ff0000;
    border-radius: 15px;
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.5;
}
