/* desktop */
	.sj__close-btn {
        position: absolute; top: 0; right: 0; 
        width: 7.25em; height: 3.1875em; 
        z-index: 3; overflow:visible;
    }
        .sj__close-shadow {
            background: url(../img/sj__close-btn--shadow.png) no-repeat top right; background-size: contain;
        }
        .sj__close-link {
            display: block; height: 100%; width: 100%;
        }
        .sj__close-slice {
            position:absolute; height: 100%; width: 1.625em;
            transform-origin: 0 center; -webkit-transform-origin: left center; -ms-transform-origin: 100% 0;   
            transition: transform 200ms ease-in-out, left 200ms ease-in-out; 
            -webkit-transition: -webkit-transform 200ms ease-in-out, left 200ms ease-in-out;
        }
            .sj__close-slice--1 {
                background: url(../img/sj__close-btn--paper.png) no-repeat 0 0; z-index: 5;
            }
            .sj__close-slice--2 {
                background: url(../img/sj__close-btn--paper.png) no-repeat -1.4375em 0; left: 1.4375em; z-index: 4; 
                transition-delay: 10ms;
            }
            .sj__close-slice--3 {
                background: url(../img/sj__close-btn--paper.png) no-repeat -2.875em 0; left: 2.875em; z-index: 3;
                transition-delay: 25ms;
            }
            .sj__close-slice--4 {
                background: url(../img/sj__close-btn--paper.png) no-repeat -4.3125em 0; left: 4.3125em; z-index: 2;
                transition-delay: 25ms;
            }
            .sj__close-slice--5 {
                background: url(../img/sj__close-btn--paper.png) no-repeat -5.75em 0; left: 5.75em; z-index: 1; width: 1.5em;
                transition-delay: 25ms;
            }

.end__group {
    font-family: 'Courier Prime', courier, times, serif; text-align: center; font-size: 16;
}
    .photo__group {
        position: absolute; width: 84%; height: 100%; left: 8%;
    }
		.end-menu__group {
		    position: absolute; width: 100%; height: 0; top: 50%; margin-top: -30%; 
		    margin: 0; padding: 0 0 42.057%; z-index: 4; /*padding: 0 0 42.057%;*/
		    background: rgba(0,0,0,0.2); overflow:visible;
		}
		    .end-menu__new-video {
		        position: absolute; top: 30.43%; left: 26.87%; width: 36.22%; height: 50.93%; /*height: 67.93%; width: 36.22%;*/
		        z-index: 3; overflow:visible;
		    }
		    .end-menu__replay {
		        position: absolute; top: 0; left: 0; width: 33.84%; height: 52.87%; /*height: 67.87%;*/
		        z-index: 3; overflow:visible;
		    }
		    .end-menu__share {
		        position: absolute; top: 38.04%; left: 66.84%; width: 28.31%; height: 38.94%; /*height: 52.44%;*/
		        z-index: 3; overflow:visible; background: rgba(0,0,0,0.2);
		    }
		    	.end-menu__new-video-shadow {
		            background: url(../img/end__new-video-btn--shadow.png) no-repeat top center; background-size: contain;  
		        }
		        .end-menu__replay-shadow {
		        	background: url(../img/end__watch-again-btn--shadow.png) no-repeat top center; background-size: contain;  
		        }
		        .end-menu__share-shadow {
		        	background: url(../img/end__share-btn--shadow.png) no-repeat top center; background-size: contain;  
		        }

		    .end-menu__btn {
		       position: relative; display: block; width: 100%; height: 100%;
		    }
		    	.end-menu__slice {
		    		position: absolute; width: 100%; 
		    		transform-origin: center top; -webkit-transform-origin: center top; -ms-transform-origin: center top;   
		            transition: transform 200ms ease-in-out, top 200ms ease-in-out; 
		            -webkit-transition: -webkit-transform 200ms ease-in-out, top 200ms ease-in-out;
		    	}
		    		.end-menu__new-video-slice--1 {
						background: url(../img/end__new-video-btn--paper.png) no-repeat 0 0; z-index: 1; height: 10%; 
						background-size: cover;
		    		}
		    		.end-menu__new-video-slice--2 {
		    			background: url(../img/end__new-video-btn--paper.png) no-repeat 0 100%; z-index: 2; top: 10%; height: 90%;
						background-size: cover;
		    		}
		    		.end-menu__replay-slice--1 {
						background: url(../img/end__watch-again-btn--paper.png) no-repeat 0 0; z-index: 1; height: 10%; 
						background-size: cover;
		    		}
		    		.end-menu__replay-slice--2 {
		    			background: url(../img/end__watch-again-btn--paper.png) no-repeat 0 100%; z-index: 2; top: 10%; height: 90%;
						background-size: cover;
		    		}
		    		.end-menu__share-slice--1 {
						background: url(../img/end__share-btn--paper.png) no-repeat 0 0; z-index: 1; height: 10%; 
						background-size: cover;
		    		}
		    		.end-menu__share-slice--2 {
		    			background: url(../img/end__share-btn--paper.png) no-repeat 0 100%; z-index: 2; top: 10%; height: 90%;
						background-size: cover;
		    		}