/*  ==========================================================================
    experience branding styles
    ========================================================================== */
    .sj__bg {
        background: url(../img/sj__wood-bg.jpg) no-repeat; background-size: cover; 
    }

    .sj__logo {
        position: absolute; top: 0; left: 0;
        background: url(../img/sj__logo.png) no-repeat top left; background-size: contain;
        width: 15%; max-width: 17.5em; height: 37.5em;
    }
    .sj__paperball {
        position: absolute; bottom: 0; right: 0;
        background: url(../img/sj__paperball.png) no-repeat top left;  background-size: contain;
        width: 5%; max-width: 5em; height: 18.5em; 
    }
    .sj__close-btn {
        position: absolute; top: 0; right: 0;
        background: url(../img/sj__close-btn--paper.png) no-repeat top right; background-size: contain;
        width: 7.25em; height: 3.875em; z-index: 3;
    }
        .sj__close-shadow {
            background: url(../img/sj__close-btn--shadow.png) no-repeat top right; background-size: contain;
        }

/*  ==========================================================================
    input styles
    ========================================================================== */
    .input__group {
        font-family: 'Courier Prime', courier, times, serif; text-align: center; font-size: 16; 
    }
        .input__resize-box {
            z-index: 3; position: absolute; width: 80%; height: 80%; margin: -15% 0 0 -40%;
        }
            .input__form {
                width: 75%; margin: 0 auto 3em; 
            }
                .input__sj-logo {
                    background: url(../img/sj__title-logo.png) no-repeat center center; 
                    background-size: contain; height: 0.5em; margin: 0; /* font @ 24px */
                }
                .input__title { 
                    color: #4d4a4a; font-size: 1.25em; font-weight: 300; margin: 1%;
                }
                .input__divider {
                    background: url(../img/input__divider.png) repeat-x;
                    height: 0.1875em; border: 0; opacity: 0.65;
                }

                .prompts__group {
                    position: relative; display: inline-block;  width: 80%; height: 8em;
                    padding: 0; margin: 10% 0 0; text-align: left; list-style: none;
                }
                    .prompt-type__copy {
                        position: absolute; width: 17%; margin: 0.5em 0; text-align: right;
                        font-size: 0.875em; font-weight: 300; text-transform: uppercase; 
                        color: rgba(17, 17, 17, 0.78);
                    }
                        .prompt-type__hint {
                            top: 0; left: 0; 
                        }
                        .prompt-type__answer {
                            top: 55%; left: 0; 
                        }
                    .prompt__label {
                        position: absolute; width: 72%; top: 0; left: 20%;
                        color: #4f4f4f; font-size: 1.5em; font-weight: 700;
                    }
                    .prompt__input-underline {
                        position: absolute; width: 72%; top: 60%; left: 20%;
                        border-bottom: 1px #111111 dashed; 
                    }
                        .prompt__input {
                            position: absolute; width: 72%; top: 50%; left: 20%;
                            padding: 0.2em 0; background: none; border: 0; font-weight: 700;
                            font-size: 1.5em; font-family: 'Courier Prime', courier, times, serif; color: #c20000; 
                        }
                            /* --- placeholder styles --- */
                            .prompt__input::-webkit-input-placeholder {
                                color: #c20000; opacity: 0.2; font-style: italic;
                            }
                            .prompt__input:-moz-placeholder {
                                color: rgba(194, 0, 0, 0.31); font-style: italic;
                            }
                            .prompt__input:-ms-input-placeholder {
                                color: #c20000; opacity: 0.31; font-style: italic;
                            }
                            .prompt__input::-moz-placeholder {
                                color: rgba(194, 0, 0, 0.31); font-style: italic;
                            }

                .character-counter__box {
                    position: absolute; display: block; left: 32%; margin-top: -2em;  
                    padding: 0.91667em 0.6667em; font-size: 0.75em;
                }
                    .character-counter__default {
                        background: url(../img/character-count__bg.png) no-repeat; color: #686868;
                    }
                    .character-counter__error {
                        background: url(../img/character-count__error.png) no-repeat; color: #2a2a2a;
                    }
                        .character-counter__icon {
                            margin-bottom: -1px;
                        }

                .nav__btn {
                   position: absolute; height: 1.625em; width: 2.625em; border: 0; top: 0; margin-top: 17%;
                }
                    .nav__btn:disabled {
                        opacity: 0.3;
                    }
                    .nav__prev-btn {
                        background: url(../img/input__nav--prev.png) no-repeat; background-size: contain;
                        left: 0; margin-left: 15%;
                    }   
                    .nav__next-btn {
                        background: url(../img/input__nav--next.png) no-repeat; background-size: contain;
                        right: 0; margin-right: 15%;
                    }

                .progress__timeline {
                    width: 100%; margin: 0 auto; padding: 0 0.5em;
                }
                    .progress__number {
                        display: inline-block; height: 2.4375em; width: 1.75em; padding: 0.325em 2.175em 0 0; 
                        text-align: center; font-weight: 700; font-size: 0.75em; 
                        background: url(../img/progress-tracker--inactive.png) no-repeat; background-size: contain;
                        color: rgba(0, 0, 0, 0.3); transition: background 0.5s; -webkit-transition: background 0.5s;
                    }
                        .progress__number--complete {
                            background: url(../img/progress-tracker--completed.png) no-repeat; background-size: contain;
                            color: transparent;
                        }
                        .progress__number--active {
                            background: url(../img/progress-tracker--active.png) no-repeat; background-size: contain;
                            color: #fff;
                        }
                    .progress__start {
                        display: inline-block; height: 3.3125em; width: 4.125em; margin: 0 0 -2.25em -1.625em;
                        background: url(../img/progress-tracker__start--inactive.png) no-repeat center center;
                        transition: background 0.5s; -webkit-transition: background 0.5s;
                    }
                        .progress__start--active {
                            background: url(../img/progress-tracker__start--active.png) center center no-repeat;
                        }

        .input__paper-stack {
            background: url(../img/input__paper-stack.png) no-repeat; background-size: contain; z-index: 2;
        }
            .input__paper-stack--scaling {
                width: 76%; height: 0; padding-bottom: 48.525%; margin: -25.2495% 0 0 -38%;
            }
            .input__paper-stack--static {
                width: 60em; height: 38.125em; margin: -19.0625em 0 0 -30em;
            }

    @media screen and (min-width: 2240px) {
        .input__form {
            margin: 0 auto 6em; 
        }
            .input__sj-logo {
                height: 0.667em;
            }
            .input__title { 
                font-size: 1.625em;
            }   

        .prompt-type {
            font-size: 1em;
        }
            .prompt__label, .prompt__input {
                font-size: 2em;
            }
            .prompt-type__answer {
                top: 70%;
            }
            .prompt__input {
                top: 65%;
            }
            .character-counter__box {
                margin-top: 0.5em;
            }
            .prompt__input-underline {
                top: 80%;
            }

        .nav__prev-btn {
            left: 0;
        }
        .nav__next-btn {
            right: 0;
        }
    }

    @media screen and (min-width: 1600px) {
        .input__paper-stack {
            background: url(../img/input__paper-stack--hires.png) no-repeat; background-size: contain;
        }
    }

    @media screen and (max-width: 1276px) {
        .input__resize-box {
            width: 60em; height: 38.125em; margin: -11.25em 0 0 -30em;
        }
    }

    @media screen and (max-width: 1024px) {
        .input__hide {
            opacity: 0;
        }
    }

    @media screen and (max-width: 815px) {
        .input__resize-box {
            width: 100%; margin: -11.25em  0 0 -50%;
        }
            .input__form {
                width: 90%;
            }

            .prompts__group {
                margin: 10% 0 0;
            }
                .prompt__label, .prompt__input {
                    font-size: 1.25em;
                }
            .input__title {
                font-size: 1em;
            }
            .prompt__input-underline {
                top: 55%;
            }
            
            .nav__btn {
                width: 1.875em; margin: 0; top: 24%;
            }
                .nav__prev-btn {
                    left: 3%;
                }
                .nav__next-btn {
                    right: 3%;
                }
        
        .progress__number { 
            padding: 0.325em 2.175em 0 0; font-size: 0.625em;
        }
        
        .sj__close-btn {
            width: 5em;
        }
    }

    @media screen and (max-width:500px) {
        .progress__number {
            padding: 0.325em 1em 0 0;
            background: url(../img/progress-tracker-short--inactive.png) no-repeat; background-size: contain;
        }
            .progress__number--complete {
                background: url(../img/progress-tracker-short--completed.png) no-repeat; background-size: contain;
            }
            .progress__number--active {
                background: url(../img/progress-tracker-short--active.png) no-repeat; background-size: contain;
            }
    }

    @media screen and (max-height:500px) {
        .input__resize-box.{
            height: 18.125em;
        }
    }
    
    @media screen and (max-device-width: 1024px) and (orientation: landscape) {
        .input__resize-box {
            margin: -35% 0 0 -48%;
        }
        .input__paper-stack--static {
            margin: -28.625em 0 0 -30em;
        }
        .nav__btn {
            margin-top: 32%;
        }
    }

    @media screen and (max-device-width: 768px) and (orientation: portrait) {
        .input__resize-box {
            margin: -28% 0 0 -61.5%;
        }
        .input__paper-stack--static {
            margin: -25em 0 0 -31em;
        }
        .nav__btn {
            margin-top: 32%;
        }
    }

/*  ==========================================================================
    end styles
    ========================================================================== */
    .end__group {
        font-family: 'Courier Prime', courier, times, serif; text-align: center; font-size: 16;
    }
        .photo__group {
            position: absolute; width: 84%; height: 100%; left: 8%; 
        }
            .photo__layer {
                position: absolute; padding: 1% 1% 41%; width: 65.99%; height: 0;
                background-color: #f3f3f3; box-shadow: 0 1px 3px rgba(0,0,0,0.46);
            }
                .photo__top-layer {
                    top: 50%; left: 7.585%; z-index: 3; margin-top: -30%;
                    transform: rotate(-4.5deg); -webkit-transform: rotate(-4.5deg);
                }
                .photo__bottom-layer {
                    top: 50%; right: 6.973%; z-index: 2; margin-top: -15%;
                    transform: rotate(3.7deg); -webkit-transform: rotate(3.7deg);
                }
                    .photo__img {
                        width: 100%;
                    }

        .end-menu__group {
            position: absolute; width: 100%; height: 0; top: 50%; margin-top: -30%; 
            margin: 0; padding: 0 0 42.057%; z-index: 4;
        }
            .end-menu__box {
                position: absolute;
            }
            .end-menu__btn {
                border: 0; width: 100%; height: 100%;
            }

                .end-menu__replay-btn {
                    background: url(../img/end__watch-again-btn--paper.png) no-repeat;
                    background-size: contain;
                }
                    .end-menu__replay-shadow {
                        top: 0; left: 0; width: 33.84%; height: 67.87%;
                        background: url(../img/end__watch-again-btn--shadow.png) no-repeat;
                        background-size: contain;  
                    }

                .end-menu__new-video-paper {
                    background: url(../img/end__new-video-btn--paper.png) no-repeat;
                    background-size: contain;
                }
                    .end-menu__new-video-shadow {
                        top: 30.43%; left: 26.87%; width: 36.22%; height: 67.93%;
                        background: url(../img/end__new-video-btn--shadow.png) no-repeat;
                        background-size: contain;  
                    }

                .end-menu__share-btn {
                    background: url(../img/end__share-btn--paper.png) no-repeat;
                    background-size: contain;
                }
                    .end-menu__share-shadow {
                        top: 38.04%; left: 66.84%; width: 28.31%; height: 52.44%;
                        background: url(../img/end__share-btn--shadow.png) no-repeat;
                        background-size: contain;  
                    }

        .end-frame__annotation {
            position: absolute; opacity: 1;
        }
            .end-frame__annotation--action {
                max-width: 30%; min-width: 15%;
                right: 60%; top: 12%; font-size: 1em;
            }
                .end-frame__annotation--action .annotations__text {
                    width: 70%; padding: 15%;
                }
            .end-frame__annotation--fantasy {
                max-width: 30%; min-width: 15%; 
                top: 15%; left: 5%; font-size: 1em;
            }
                .end-frame__annotation--fantasy .annotations__text {
                    width: 70%; padding: 15%;
                }
            .end-frame__annotation--romance {
                width: 37%; top: 6%; left: 55%; font-size: 1em;
            }

            .end-frame__annotation--tech {
                width: 18%; top: 59%; left: 41.4%; font-size: 1em; 
            }
                .end-frame__annotation--tech .annotations__text {
                    transform: none; -webkit-transform: none;
                }