/*  ==========================================================================
    experience branding styles
    ========================================================================== */
    .sj__bg { 
        background: url(../img/bg_tile.jpg) repeat;
    }
    .sj__art {
        position: absolute; 
        width: 34.9375em; height: 35.1875em;
        bottom: -20.75em; left: -20.75em;
        background: url(../img/sj__paperball.png) no-repeat center; background-size: contain;
    }
    .sj__logo--small {
        top: 0; left: -235px; position: absolute;
    } 
    .sj__logo--big {
        position: absolute; z-index: 2;
        width: 50%; margin-top: -9%; top: 2.25em;
    }

    .sj-loading__group {
        position: fixed; top: 45%;
        width: 100%; z-index: 9000;
    }
        .sj-loading__scroller {
            font-family: 'courier prime', courier, times, serif; color: #fff; height: 3.75em;
        }
            .sj-loading__text {
                display: inline-block; text-align: center; width: 35.5em; 
                position: absolute; left: 50%; margin-left: -17.75em;
            }
        .sj-loading__bar { 
            background: #232527; width: 25%; margin: 0 auto;
        }
            .sj-loading__bar--active {
                background: red; height: 0.375em; width: 0
            }

    @media screen and (max-device-width: 1024px) and (orientation: landscape) {
        .sj__art {
            width: 25em; height: 25em;
            bottom: -8em; left: -16em;
        }
        .sj__logo--big {
            margin-top: -4.75em;
        }
    }
    @media screen and (max-device-width: 1024px) and (orientation: portrait) {
        .sj__art {
            width: 25em; height: 25em;
            bottom: -4em; left: -8em;
        }
        .sj__logo--big {
            margin-top: -4.75em;
        }
    }

    @media screen and (max-device-width: 568px) {
        .sj__art {
            display:none;
        }
        .sj__logo--small {
            top: 1em; left: -6.5em;
            width: 12.5em;
        }
        .sj-loading__scroller {
            font-size: 0.8em;
        }
            .sj-loading__text {
                width: 20em; margin-left: -10em;
            }
        .sj__logo--big {
            width: 40%; margin-top: -1.75em;
        }
    }

    @media screen and (max-width: 320px) {
        .sj-loading__scroller {
            font-size: 0.6em;
        }
            .sj-loading__text {
                width: 15em; margin-left: -7.5em;
            }
        .sj__logo--big {
            width: 50%; 
        }
    }

/*  ==========================================================================
    exp-hero__group styles : important stuff!!
    ========================================================================== */
    @media only screen and (max-device-width:400px) and (orientation: portrait), (max-width:480px) {
        .exp-hero__group {
            background-size:cover !important; background-position:50% top !important; 
        }
        .c6-ui__play {
            top: 50% !important;
        }
    }
    @media only screen and (max-device-width : 568px) and (orientation: landscape) {
        .exp-hero__group {
            background-size:50% !important; background-position:right 50% !important;
        }
    }

/*  ==========================================================================
    c6__main.css overides : for branding 
    ========================================================================== */
    .c6-bar__app-title {
        background: url(../img/logo_alpha.png) center center no-repeat;
        background-size: contain; height: 1em; margin: 0.6825em 0 0 0.75em;
    }
    
/*  ==========================================================================
    c6 controls  styles
    ========================================================================== */
    .c6-controls__group {
        position: absolute; bottom: 10px; width: 100%; z-index: 1000;
    }
        .c6-controls__group.offscreen {
            bottom: -40px;
        }

/*  ==========================================================================
    landing annotation styles
    ========================================================================== */
    .exp-screenshot__group {
        position:absolute; width:100%; height: 100%; z-index: 3; margin-left: 24px;
    }
        .exp-screenshot__box {
            max-height: 33.475em; max-width: 57.89em; 
        }
        .exp-screenshot__img {
            border-radius: 0.33em; box-shadow: 0 0 2.1em #000;
        }

    .landing--hero__annotations {
        max-width: 78.89em; height: 100%;
        margin: 0 auto; padding: 0.5em;
        opacity: 0.7; list-style: none;
    }
        .landing__annotation {
            max-width: 18em; min-width: 10em; font-size: 1em;
        }

        .landing__annoation-position--0 {
            margin: 0 0 0 70%; padding: 1em 0 0 1em; 
        }
        .landing__annoation-position--1 {
            margin:12em 0 0 2%;
        }
        .landing__annoation-position--2 {
            margin:10em 0 0 75%;
        }

    @media only screen and (max-width: 768px) {
        .landing__annotation {
            font-size: 0.75em;
        }
        .landing__annoation-position--0 {
            margin: 0 0 0 35%; padding: 3em 0 0 1em;
        }
        .landing__annoation-position--1 {
            margin:15em 0 0 2%;
        }
        .landing__annoation-position--2 {
            display:none;
        }
    }

    @media only screen and (max-device-width : 480px) and (orientation: landscape) {
        .exp-screenshot__group {
            width: 90%; margin-left: 10%;
        }
            .exp-screenshot__box {
                margin-top:0;
            }
    }

/*  ==========================================================================
    input styles
    ========================================================================== */
    .input__group {
        z-index: 4; opacity: 1;
        font-family: 'Courier Prime', courier, times, serif;
        -ms-transform-origin: 0 0; -moz-transform-origin: 0 0; -o-transform-origin: 0 0; -webkit-transform-origin: 0 0; transform-origin: 0 0;
        -ms-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);
    }
        .input__questions {
            position: absolute; top: 25%; left: 50%;
            width: 90%; height: 50%; margin: 1.125em 0 0 -45%;
            z-index: 10;
        }
            .question__group {
                padding: 0; text-align: center; color: #000;
                position: absolute; width: 100%; top: 0; list-style: none;
            }
                .question__prompt {
                    position: absolute; width: 100%;
                }
                    .question__instructions { 
                        margin: 2% 0 0 0; font-size: 0.875em; /* 14px */ color: #252525; opacity: 1;                   
                    }
                    .question__query {
                        margin: 0.375em 0 0 0; font-size: 1.75em; /* 28px */ font-weight: 700; opacity: 1;
                    }
                .question__answer-box {
                    width: 65%; position: absolute; top: 8em; left: 17.5%;
                }
                    .question__input {
                        width: 100%; border: 0;
                        font-family: 'Courier Prime', Courier, Times, serif;
                        font-size: 1.75em; /* 28px */ font-weight: 700; color: #c20000;
                        background: url(../img/inputLine.jpg) bottom center repeat-x; 
                    }
                        .question__input:focus {outline:none;}
                        .question__input::-ms-clear {display:none;} /* remove X from IE10 */

                    .question__subtext {
                        width: 100%; margin: 1% 0 0 0; font-size: 0.75em; /* 12px */
                    }
                        .question__progressMeter {
                            float: left; 
                        }
                        .question__characterCount {
                            float: right;
                        }

            .question__arrow-btn {
                width: 4.125em; height: 4.125em; border: 0;
                position: absolute; top: 10em;
            }
                .question__arrow-btn:disabled {
                    opacity: 0.15;
                }
                .question__arrow-btn--back {
                    background: url(../img/btn_previous_default.png) no-repeat center center; left: 7%;
                }
                    .question__arrow-btn--back:active {
                        background: url(../img/btn_previous_tap.png) no-repeat center center;
                    }

                .question__arrow-btn--next {
                    background: url(../img/btn_next_default.png) no-repeat center center; right: 7%;
                }
                    .question__arrow-btn--next:active {
                        background: url(../img/btn_next_tap.png) no-repeat center center;
                    }


            .question__start-btn {
                background: url(../img/btn_start_default.png) center no-repeat;  
                width: 17.5em; height: 6.5em; border: 0;
                left: 50%; margin-top: 22em;
                position: absolute; margin-left: -8.75em;
             }
                .question__start-btn:active {background: url('../img/btn_start_tap.png') center no-repeat;}
 
        .input__close-btn {
            position: absolute; top: 3.25em; right: 0.25em;
            width: 4.125em; height: 3.375em; border: 0;
            background: url(../img/btn_close_default.png) no-repeat top left; background-size: cover;
            z-index: 1;
        }
            .input__close-btn:active {
                background: url(../img/btn_close_tap.png) no-repeat top left; background-size: cover;
            }

        .progress-dock__group {
            text-align: center; margin: 12.5em 3.125em 0 0;
        }
            .progress-dock__item {
                display: inline-block; width: 2.625em;
            }
        
        @media screen and (max-device-width: 1024px) {
            .input__questions {
                top: 20%;
            }
        }   

        @media screen and (max-width: 567px) {
            .progress-dock__item {
                width: 1.875em;
            }
            .progress-dock__img {
                width: 1.625em;
            }
        }

        @media screen and (max-width: 768px) {
            .question__arrow-btn--back {
                left: 0;
            }
            .question__arrow-btn--next {
                right: 0;
            }
            .input__close-btn {
               top: 3.75em;
            }
        }
        
        @media screen and (max-device-width: 568px) {
            .input__questions {
                top: 20%;
            }
            .question__instructions { 
                font-size: 0.625em; /* 10px */
            }
                .question__query {
                    font-size: 1.125em; /* 18px */
                }

            .question__answer-box {
                margin: -4em auto;
            }
                .question__input {
                    font-size: 1.25em; /* 20px */ width: 92%;
                }
                .question__characterCount {
                    margin-right: 0;
                }     

            .question__arrow-btn {
                width: 2.25em; height: 2.25em; top: 8em;
            }
                .question__arrow-btn--next, .question__arrow-btn--back {
                    background-size: contain;
                }

            .question__start-btn {
                background-size: contain; height: 4.125em; margin-top: 14em;
            }
        }

/*  ==========================================================================
    video experience styles
    ========================================================================== */
    .video__group {
        background-color: #000;
    }
        .annotations__group {
            z-index: 2; padding: 0; list-style: none;
        }
            .annotations__bubble {   
                position: absolute; opacity: 1;
                -ms-transform-origin: 50% 50%; /* IE 9 */
                -moz-transform-origin: 50% 50%; /* Firefox */
                -o-transform-origin: 50% 50%; /* Opera */
                -webkit-transform-origin: 50% 50%; /* Safari and Chrome */
                transform-origin: 50% 50%;
            }

/*  ==========================================================================
    end styles
    ========================================================================== */
    .end__group {
        margin-top: 2em; opacity: 1;
        -ms-transform-origin: 0 0; -moz-transform-origin: 0 0; -o-transform-origin: 0 0; -webkit-transform-origin: 0 0; transform-origin: 0 0;
        -ms-transform: rotate(0deg); -moz-transform: rotate(0deg);  -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg);
    }

    .end-frame__group {
        width: 70%; height: 0; padding-bottom: 44.9079%; 
        margin: -20.45395% 0 0 -35%; position: relative;
    }
        .end-frame__img {
            width: 100%;
        }

        .end-frame__annotation {
            position: absolute; opacity: 1;
            max-width: 21%; min-width: 15%;
        }
            .end-frame__annotation--action {
                margin: 4% 56% 0 0; right: 0;
                font-size: 1em;
            }
            .end-frame__annotation--fantasy {
                margin: 3% 0 0 10%;
                font-size: 1em;
            }
            .end-frame__annotation--romance {
                margin: 1% 0 0 50%; max-width: 25%;
                font-size: 0.75em;
            }
                .end-frame__annotation--romance .annotations__text {
                    width: 64%; padding: 12%;
                }
            .end-frame__annotation--tech {
                top: 52.4%; left: 41.4%;
                font-size: 0.6em;
                width: 18%; 
            }
                .end-frame__annotation--tech .annotations__text {
                    transform: none; -webkit-transform: none;
                }
           
        .end-menu__group { 
            position: absolute; height: 8%; width: 100%; 
            bottom: -2%; padding: 0; 
         }
            .end-menu__group__replay-btn { 
                background: url(../img/btn_playAgain_default.png) no-repeat top center; background-size: contain; 
                height: 100%; width: 6.67%; float:left; border: 0;
            }
                .end-menu__group__replay-btn:active {
                    background: url(../img/btn_playAgain_tap.png) no-repeat top center; background-size: contain
                }

            .end-menu__group__share-btn { 
                background: url(../img/btn_share_default.png) no-repeat top center; background-size: contain; 
                height: 100%; width: 6.67%; float:left; border: 0;
            }
                .end-menu__group__share-btn:active {
                    background: url(../img/btn_share_tap.png) no-repeat top center; background-size: contain
                }

            .end-menu__group__new-btn { 
                background: url(../img/btn_newVid_default.png) no-repeat top center; background-size: contain; 
                height: 100%; width: 34.56%; float: right; border: 0;
            }
              .end-menu__group__new-btn:active {
                background: url(../img/btn_newVid_tap.png) no-repeat top center; background-size: contain; float:right;
            }

    @media screen and (max-device-width: 1024px) {
        .end-frame__group {
            margin: -34.45395% 0 0 -35%;
        }
    }

    @media screen and (max-device-width: 568px) {
        .end-frame__group {
            margin: -16.45395% 0 0 -35%;
        }
    }