/*  ==========================================================================
    c6 controls  styles
    ========================================================================== */
    .c6-controls__group {
        -ms-transition: bottom 0.5s; -moz-transition: bottom 0.5s; -o-transition: bottom 0.5s; -webkit-transition: bottom 0.5s; transition: bottom 0.5s;
    }

/*  ==========================================================================
    input styles
    ========================================================================== */
    .question__arrow-btn, .question__start-btn, .input__close-btn {
        cursor: pointer;
    }

/*  ==========================================================================
    NEW input styles
    ========================================================================== */
    .input__hide {
        transition: opacity 0.5s; -webkit-transition: opacity 0.5s;
    }

    .sj__close-btn { 
        cursor: pointer;
    }

    .nav__btn {
        cursor: pointer;
    }
        .nav__next-btn {
            transition: background 0.3s; -webkit-transition: background 0.3s;
        }
            .nav__next-btn:hover {
                background: url(../img/input__nav--next-hover.png) no-repeat;
                background-size: contain;
            }
        .nav__prev-btn {
            transition: background 0.3s; -webkit-transition: background 0.3s;
        }
            .nav__prev-btn:hover {
                background: url(../img/input__nav--prev-hover.png) no-repeat;
                background-size: contain;
            }

    .progress__start--active {
        cursor: pointer;
    }


/*  ==========================================================================
    end styles
    ========================================================================== */
    .end-menu__group__replay-btn,.end-menu__group__share-btn, .end-menu__group__new-btn {
        cursor: pointer; 
    }
