<div class="startScreen">
	<div class="disclaimer--categories">This site is for demo purposes only.</div>
    <!--artwork-->
    <header class="startScreen__logo">
		<h1 class="ir">Screenjack</h1>
	</header>
	<a href="" ng-click="$state.transitionTo('experience.input', {category: 'scifi', expid: 'jetsons'})" class="startScreen__this_undefined">&nbsp;</a>
    <div class="startScreen__bgArtwork">&nbsp;</div>

    <!--content-->
    <div class="viewport" c6-resize>
        
        <ul class="category__group grid grid--center">
            <h1 class="startScreen__directions grid__item">choose one</h1>
            <li class="category__item grid__item" ng-repeat="category in catCtrl.categories">
                <button class="category__frame" name="{{category}}" ng-click="catCtrl.loadCategory(category);">
                    <img class="category__art" ng-src="assets/img/vidThumb_{{category}}.jpg">
                </button>
                <!--<h3 class="category__name">{{category}}</h3>-->
            </li>
        </ul>
    </div>

</div>
