<div class="endScreen" c6-resize>
         <!--artwork-->
        <header class="endScreen__logo"><h1 class="ir">Screenjacked</h1></header>
        <div class="startScreen__bgArtwork">&nbsp;</div>
        
        <!--content-->
        <div class="viewport">
            
            <div class="video"><span class="ir">[ Actual video content will replace this span ]</span></div>
            <menu class="vidMenu">
                <button class="vidMenu__btnReplay" ng-click="app.goToRoute('/experience');" name="replay"><span class="ir">Replay</span></button>
                <button class="vidMenu__btnEdit" ng-click="app.goToRoute('/experience');"name="edit"><span class="ir">Edit</span></button>
                <button class="vidMenu__btnNewVid" ng-click="app.goToRoute('/categories');" name="newVid"><span class="ir">Make a new video</span></button>
            </menu>
        </div>
        <footer class="shareMenu"><span class="ir">Share with others:</span>
            <button class="shareMenu__btnEmail" name="email"><span class="ir">Share through Email</span></button>
            <button class="shareMenu__btnTwitter" name="twitter"><span class="ir">Share on Twitter</span></button>
            <button class="shareMenu__btnFacebook" name="facebook"><span class="ir">Share on Facebook</span></button>
        </footer>
     </div>