
<!--<h1 > {{expCtrl.model.category}}: {{expCtrl.model.title}} </h1>
<div c6-prompt-interface >
    
    <ul >
        <li ng-repeat="q in promptCtrl.model.prompts" c6-question="{{$index}},{{$last}}" 
                                                        class="question hidden">
            {{q.query}} <input name="response" type="text" ng-model="promptCtrl.model.responses[$index]"></input>
        </li>
    </ul>

    <div> <span>{{currQuestNo()}} of {{questionCount()}}</span> </div>
    <p/>
    <div>
        <button name="prev" ng-click="prevQuestion();" >Prev</button>
        <button name="next" ng-click="nextQuestion();" >Next</button>
    </div>
</div>-->

<div id="inputScreen">
    <!--artwork-->
     <header class="logo2"><h5 class="ir">Screenjacked</h5></header>           
     <div class="artwork2">&nbsp;</div>
    
    <!--content-->
     <div c6-prompt-interface >    
     <button class="btn_close" onclick="history.go(-1);return false;"><span class="ir">Close</span></button> 
        <form id="input">
            <h1>Fill in the blank</h1>
            <ul>
                <li ng-repeat="q in promptCtrl.model.prompts" c6-question="{{$index}},{{$last}}" class="question hidden">
                    <h2>{{q.query}}</h2>
                    <input type="text" name="response" ng-model="promptCtrl.model.responses[$index]"></input>
                </li>
            </ul>
            <button name="next" class="btn_next" ng-click="nextQuestion();"><span class="ir">Next</span></button>
            <button name="prev" class="btn_previous" ng-click="prevQuestion();"><span class="ir">Prev</span></button>
            
            <h6 class="characterCount">12</h6>

            <button class="btn_start"><span class="ir">Start</span></button>
        </form>
     </div>
    <footer class="progressDock">Page {{currQuestNo()}} of {{questionCount()}}</footer>
</div>-->

<!-- video 
<div c6-annotations-player>
    <video id="player" c6-video class="hidden" preload="auto" controls> </video>
    <ul>
        <li ng-repeat="a in annoCtrl.model.annotations" class="annotation hidden">
            {{a.text}}
        </li>
    </ul>
</div>-->

<div class="transition_blackFade">&nbsp;</div>
