<!--        VIDEO PLAYER WE WANT TO USE    -->    
<div c6-annotations-player>
    <video id="player" c6video class="hidden" preload="auto" controls> </video>
    <ul>
        <li ng-repeat="a in annoCtrl.model.annotations" class="annotation hidden">
            {{a.text}}
        </li>
    </ul>
</div>


<!-- TEST VIDEO 
 <div class="viewport">
    <video id="player" c6video class="hidden" preload="auto" controls>
        <source src="../assets/media/not_over.mp4" type="video/mp4">
    </video>
 </div>


<div class="transition_blackFade">&nbsp;</div> -->
