<div class="input__group c6-view--fill-100" style="overflow:visible">
    <img ng-src="assets/img/sj__logo--small.png" class="sj__logo--small">       
    <div class="sj__art">&nbsp;</div>
    
    <button class="input__close-btn" ng-click="$state.transitionTo('landing_wizard');"><span class="ir">Close</span></button>

    <form class="input__questions">
        <ul class="question__group">
            <h1 class="question__instructions">Fill in the Blank</h1>
            <li class="question__item">
                <div ng-repeat="prompt in inputCtrl.promptModel.prompts">
                    <p class="question__query"
                        ng-if="inputCtrl.currentPromptIndex() === $index"
                        ng-animate="'prompt'">
                            {{inputCtrl.promptModel.prompts[$index].query}}
                    </p>
                </div>
                
                <div class="question__answer-box"
                    ng-animate="'response-' + inputCtrl.currentDirection" >
                    <input
                        class="question__input"
                        type="text"
                        name="response"
                        autocomplete="off"
                        ng-model="inputCtrl.promptModel.responses[inputCtrl.currentPromptIndex()]"
                        ng-disabled="appCtrl.inExperience"
                        c6-on="{newPrompt: '(inputCtrl.currentPromptIndex() > 0)? $this.focus() : null;', experienceStart: '$this.prop(\'disabled\', true); $this.blur();'}"
                        c6-sfx-on="{keydown: 'type'}"
                        maxlength="{{inputCtrl.currentPrompt.sizeLimit}}">
                    </input>
                    <div class="question__subtext">
                        <span class="question__progressMeter">No. <strong>{{inputCtrl.currentPromptIndex()+1}}</strong> of <strong>{{inputCtrl.totalPrompts()}}</strong></span>
                        <span class="question__characterCount">{{inputCtrl.promptModel.prompts[inputCtrl.currentPromptIndex()].sizeLimit - inputCtrl.promptModel.responses[inputCtrl.currentPromptIndex()].length}}</span>
                    </div>
                </div>
            </li><!-- .question__answer-box -->
        </ul>
        <button
            class="question__start-btn"
            ng-if="(inputCtrl.currentResponse()? true : false) && inputCtrl.isDone()"
            ng-animate="'start-button'"
            c6-sfx-on="{click: 'yank'}"
            ng-click="appCtrl.askForVideoLoad(); inputCtrl.startExperience();">
            <span class="ir">Start</span>
        </button>
        <button
            class="question__arrow-btn question__arrow-btn--next"
            c6-sfx-on="{click: 'bell'}"
            ng-disabled="!inputCtrl.canGoForward()"
            ng-click="inputCtrl.nextQuestion(); appCtrl.askForVideoLoad();"
            name="next">
            <span class="ir">Next</span>
        </button>         
        <button
            class="question__arrow-btn question__arrow-btn--back"
            ng-disabled="!inputCtrl.canGoBack()"
            ng-click="inputCtrl.prevQuestion();"
            name="prev">
            <span class="ir">Prev</span>
        </button>        
    </form>
</div>