<div class="input__group c6-view--fill-100" id="input-screen" style="overflow:visible">
    <img ng-src="assets/img/sj__logo--small.png" class="sj__logo--small">
    <div class="sj__art">&nbsp;</div>
    
    <button class="input__close-btn" ng-click="$state.transitionTo('landing_wizard');"><span class="ir">Close</span></button> 
     
    <form class="input__questions">
        <ul class="question__group">
            <li class="question__item">
                
                <div ng-repeat="prompt in inputCtrl.promptModel.prompts">

                    <div ng-if="inputCtrl.currentPromptIndex() === $index"
                        ng-animate="'prompt'" class="question__prompt">
                        <h1 class="question__instructions">Fill in the Blank</h1>
                        <h2 class="question__query">{{inputCtrl.promptModel.prompts[$index].query}}</h2>
                    </div>
                    <div class="question__answer-box"
                        ng-if="$index === inputCtrl.currentPromptIndex()"
                        ng-animate="'response-' + inputCtrl.currentDirection" >
	                    <input
	                    	ng-model="inputCtrl.promptModel.responses[inputCtrl.currentPromptIndex()]"
	                    	ng-disabled="appCtrl.inExperience"
	                    	c6-on="{experienceStart: '$this.prop(\'disabled\', true); $this.blur();'}"
	                    	ng-keypress="($event.charCode !== 32)? appCtrl.sfxSvc.playSound('type') : false;"
	                    	c6-autofocus
	                    	maxlength="{{prompt.sizeLimit}}"
	                        class="question__input"
	                        type="text"
	                        name="response"
	                        autocomplete="off">
	                    </input>
                        <div class="question__subtext">
                            <span class="question__characterCount">{{inputCtrl.promptModel.prompts[inputCtrl.currentPromptIndex()].sizeLimit - inputCtrl.promptModel.responses[inputCtrl.currentPromptIndex()].length}}</span>
                        </div>
                </div>
            </li>
        </ul>
        <button
            class="question__start-btn"
            ng-if="(inputCtrl.currentResponse()? true : false) && inputCtrl.isDone()"
            ng-animate="'start-button'"
            c6-sfx-on="{click: 'yank'}"
            ng-click="inputCtrl.startExperience();">
            <span class="ir">Start</span>
        </button>

        <button
            class="question__arrow-btn question__arrow-btn--next"
            ng-disabled="!inputCtrl.canGoForward()"
            ng-click="inputCtrl.nextQuestion();"
            c6-sfx-on="{click: 'bell'}"
            name="next">
            <span class="ir">Next</span>
        </button>
                    
        <button
            class="question__arrow-btn question__arrow-btn--back"
            ng-disabled="!inputCtrl.canGoBack()"
            ng-click="inputCtrl.prevQuestion();"
            name="prev">
            <span class="ir">Prev</span>
        </button>

		<ul class="progress-dock__group">
			<li class="progress-dock__item" ng-repeat="prompt in inputCtrl.promptModel.prompts">
				<c6-progress-number number="$index + 1" filled="inputCtrl.currentPromptIndex() >= $index">
			</li>
		</ul>		
    </form>
</div>