<div class="inputScreen" c6-resize>
    <!--artwork-->
     <header class="inputScreen__logo"><h1 class="ir">Screenjacked</h1></header>           
     <div class="inputScreen__bgArtwork">&nbsp;</div>
    
    <!--content-->
     <div>
     	<button class="inputScreen__btnClose" ng-click="app.goToRoute('/');"><span class="ir">Close</span></button> 
        
        <form class="content">
            <h1 class="inputScreen__directions">Fill in the blank</h1>

            <ul class="question__group">
                <li class="question" c6-question="{{$index}},{{$last}}">
                    <h2 class="question__query">{{input.currentPrompt.query}}</h2>
                    <input
                    	class="question__userAnswer"
                    	type="text"
                    	name="response"
                    	ng-model="input.promptModel.responses[input.currentPromptIndex()]"
                    	maxlength="{{input.promptModel.defSizeLimit}}"
                    	c6-on="newPrompt" do="focus"></input>
                </li>
            </ul>
            <button
            	class="question__btnNext"
            	ng-disabled="!input.canGoForward()"
            	ng-click="input.nextQuestion();"
            	name="next">
            	<span class="ir">Next</span>
            </button>
            
            <button
                class="question__btnStart"
                ng-if="input.isDone()"
                ng-disabled="!input.currentResponse()"
                ng-click="input.startExperience();">
                <span class="ir">Start</span>
            </button>

            <button
            	class="question__btnPrevious"
				ng-disabled="!input.canGoBack()"
				ng-click="input.prevQuestion();"
				name="prev">
				<span class="ir">Prev</span>
			</button>

            <h6 class="question__characterCount">{{input.promptModel.defSizeLimit - input.promptModel.responses[input.currentPromptIndex()].length}}</h6>
        </form>

        <footer class="progressDock">Page {{input.currentPromptIndex() + 1}} of {{input.totalPrompts()}}</footer>
     </div>
</div>

