<!--        INPUT SCREEN      -->
<div class="inputScreen" >
    <!--artwork-->
     <header class="inputScreen__logo"><img ng-src="assets/media/logo_small_{{appCtrl.category()}}.png"></header>       
     <div class="inputScreen__bgArtwork">&nbsp;</div>
    
    <!--content-->
     <button class="inputScreen__btnClose" ng-click="appCtrl.goToRoute('/');"><span class="ir">Close</span></button> 
     
     <div>   
        <form class="content" >
            <ul class="question__group" c6-ios-keyboard="target">
                <li class="question">
                    <h1 class="question__number">Question {{inputCtrl.currentPromptIndex()+1}}</h1>
                    <div ng-repeat="prompt in inputCtrl.promptModel.prompts">
	                    <h2
	                    	class="question__query"
	                    	ng-if="inputCtrl.currentPromptIndex() === $index"
	                    	ng-animate="'prompt'">
	                    		{{inputCtrl.promptModel.prompts[$index].query}}
	                    </h2>
                    </div>
                    <div class="question__userAnswer"
                        
                        ng-animate="'response-' + inputCtrl.currentDirection" >
                        <input
                        	ng-model="inputCtrl.promptModel.responses[inputCtrl.currentPromptIndex()]"
                        	ng-disabled="appCtrl.inExperience"
                        	c6-on="newPrompt: {(inputCtrl.currentPromptIndex() === 0)? null : $this.focus();}, experienceStart: {$this.prop('disabled', true); $this.blur();}"
                        	c6-sfx="{keydown: 'type'}"
                        	maxlength="{{inputCtrl.currentPrompt.sizeLimit}}"
                            class="question__input"
                            type="text"
                            type="text"
                            name="response"
                            c6-ios-keyboard="input"
                            autocomplete="off">
                        </input>
                        <h6 class="question__characterCount">{{inputCtrl.promptModel.prompts[inputCtrl.currentPromptIndex()].sizeLimit - inputCtrl.promptModel.responses[inputCtrl.currentPromptIndex()].length}}</h6>
                    </div>
                </li>
                <div
                	ng-if="inputCtrl.currentResponse().length? true : false"
                    ng-animate="'valid'"
                    class="question__inputCheck">
                		<span class="ir">Input Accepted</span>
                </div>
                <button
                class="question__btnStart"
                ng-if="(inputCtrl.currentResponse()? true : false) && inputCtrl.isDone()"
                ng-animate="'start-button'"
                c6-sfx="{click: 'yank'}"
                ng-click="inputCtrl.startExperience();">
                <span class="ir">Start</span>
            </button>
            
            <button
                class="question__btnNext"
                c6-sfx="{click: 'bell'}"
                ng-disabled="!inputCtrl.canGoForward()"
                ng-click="inputCtrl.nextQuestion();"
                name="next">
                <span class="ir">Next</span>
            </button>
                        
            <button
                class="question__btnPrevious"
                ng-disabled="!inputCtrl.canGoBack()"
                ng-click="inputCtrl.prevQuestion();"
                name="prev">
                <span class="ir">Prev</span>
            </button>
            
            </ul>

            
        </form></div>
        <footer class="progressDock">Page {{inputCtrl.currentPromptIndex() + 1}} of {{inputCtrl.totalPrompts()}}</footer>
     
</div>
