<section class="landing-hero__group" style="background-image:url(assets/img/2001__bg.jpg);">
    <div class="landing--hero__overlay">&nbsp;</div>
    <h1 class="landing-hero-slides__hdr tk--hdr">
        <a ng-click="appCtrl.startExperience()" class="landing-hero-slides__slide--link" title="Play Now">
            <span class="hero-slides__play"><span class="ir">Play Now</span></span>
        </a>
    </h1>
    <div class="landing--hero__video-group">
        <div class="grid grid--middle grid--center">
            <img class="landing--hero__video grid__item eleven-twelfths" src="assets/img/landing__screenshot--2001.jpg">
            <div class="grid__item one-twelfth palm--hide" style="margin-left: -12%; padding: 0;">
                <div style="height:42em;">&nbsp;</div>
            </div> 
        </div>
    </div>
    <div class="landing--hero__series">
        <span class="ir">Screenjack</span>
    </div>
</section><!--.hero__group-->
