<section class="landing-hero__group" style="background-image: url(assets/img/herobox_artwork.jpg);">
    <h1 class="landing-hero-slides__hdr tk--hdr">
        <a ng-click="appCtrl.startExperience()" class="landing-hero-slides__slide--link" title="Play Now">
            <span class="hero-slides__play"><span class="ir">Play Now</span></span>
        </a>
    </h1>
    <div class="container">
        <div class="grid">
            <div class="landing-hero__desc grid__item one-half palm--one-whole lap--two-thirds">
                <div class="landing-hero__copy-box">
                    <h1 class="landing-hero__title tk--hdr"><span class="ir">Screenjack</span></h1>
                    <div class="landing-hero__copy">
                        <p>Take the editor&rsquo;s seat and rewrite the script of classic cinematic moments with a hilarious new spin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--.hero__group-->
