<section class="hero__group"><div class="hero__inner">
    <a href="#/categories/" class="hero__launch-btn">
        <span class="btn__outer">
            <img src="assets/img/btn_play.svg" alt="play button" class="hero__play-icon">
            <span class="ir">Play</span>
        </span>
    </a>
    <div class="container">
        <div class="grid grid--center">
            <div class="hero__desc grid__item one-whole palm--one-whole">
                <h1 class="hero__title"><span class="ir">Screenjack</span></h1>
                <div class="hero__copy">
                    <p>Take the editor&rsquo;s seat and rewrite the script of classic cinematic moments with a hilarious new spin.</p>
                </div>
            </div>
            <div class="grid__item one-twelfth palm--hide">
                <div style="height:42em;">&nbsp;</div>
            </div>
        </div>
    </div>
</div></section><!--.hero__group-->
