<div class="sj-loading__group" >
	<ul class="sj-loading__scroller">
		<li class="sj-loading__text" id="text1">Initializing Screenjack Creation&hellip;</li>
		<li class="sj-loading__text" id="text2">Extracting Punchlines&hellip;</li>
		<li class="sj-loading__text" id="text3">Creating Tomfoolery&hellip;</li>
		<li class="sj-loading__text" id="text4">Interpooling Character's Thoughts&hellip;</li>
		<li class="sj-loading__text" id="text5">Critiquing Word Choice&hellip;</li>
		<li class="sj-loading__text" id="text6">Connecting to Comedy Database&hellip;</li>
		<li class="sj-loading__text" id="text7">Running Hilarity Algorithms&hellip;</li>
		<li class="sj-loading__text" id="text8">Looping Randomness&hellip;</li>
	</ul>
	<div class="sj-loading__bar">
		<div class="sj-loading__bar--active" id="loading-bar">&nbsp;</div>
	</div>
</div>