<div class="loading__group" >
	<ul class="loading__text">
		<li class="text1" id="text1">Initializing Screenjack Creation...</li>
		<li class="text2" id="text2">Extracting Punchlines...</li>
		<li class="text3" id="text3">Creating Tomfoolery...</li>
		<li class="text4" id="text4">Interpooling Character's Thoughts...</li>
		<li class="text5" id="text5">Critiquing Word Choice...</li>
		<li class="text6" id="text6">Connecting to Comedy Database...</li>
		<li class="text7" id="text7">Running Hilarity Algorithms...</li>
		<li class="text8" id="text8">Looping Randomness...</li>
	</ul>
	<div class="loading__container">
		<div class="loading__bar" id="loading-bar">&nbsp;</div>
	</div>
</div>
