<div class="loading__group" >
	<ul class="loading__text">
		<li class="text1" id="text1">Initializing Screenjack Creation&hellip;</li>
		<li class="text2" id="text2">Extracting Punchlines&hellip;</li>
		<li class="text3" id="text3">Creating Tomfoolery&hellip;</li>
		<li class="text4" id="text4">Interpooling Character's Thoughts&hellip;</li>
		<li class="text5" id="text5">Critiquing Word Choice&hellip;</li>
		<li class="text6" id="text6">Connecting to Comedy Database&hellip;</li>
		<li class="text7" id="text7">Running Hilarity Algorithms&hellip;</li>
		<li class="text8" id="text8">Looping Randomness&hellip;</li>
	</ul>
	<div class="loading__container">
		<div class="loading__bar" id="loading-bar">&nbsp;</div>
	</div>
</div>
