<!--        INPUT SCREEN      -->
<html ng-app="c6.app" ng-controller="C6AppCtrl">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Screenjack</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="../styles/csswizardry-grid.css">
        <link rel="stylesheet" href="../styles/c6_main.css">
        <link rel="stylesheet" href="../styles/Screenjack.css">
        <link id="experience_css" rel="stylesheet" ng-href="{{appCtrl.experience.css && ('assets/' + appCtrl.experience.css)}}">
        <!--<script type="text/javascript" src="//use.typekit.net/ffz0fzf.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->

    <!--<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>-->

    <style>
    .progressDock2 {
        text-align: center; margin: 250px 50px 0 0;
    }
        .progressDock2 li {
            display: inline; 
        }
        @media screen and (max-width: 768px) {
            .progressDock2 img {
                width: 30px;
            }
        }
        @media screen and (max-width: 568px) {
            .progressDock2 {
                margin: 180px 30px 0 0;
            }
            .progressDock2 img {
                width: 26px;
            }
        }
        @media screen and (max-width: 320px) {
            .progressDock2 img {
                width: 20px;
            }
        }
    </style>

  </head><body> 
<div class="inputScreen">
    <!--artwork-->
     <header class="inputScreen__logo"><img ng-src="assets/img/logo_small_{{appCtrl.currentCategory()}}.png"></header>
     <div class="inputScreen__bgArtwork">&nbsp;</div>
    
    <!--content-->
     <button class="inputScreen__btnClose" ng-click="$state.transitionTo('experience.categories');"><span class="ir">Close</span></button> 
     
     <div>   
        <form class="content" >
            <ul class="question__group" c6-ios-keyboard="target">
                <li class="question">
                    
                    <div ng-repeat="prompt in inputCtrl.promptModel.prompts">

	                    <div ng-if="inputCtrl.currentPromptIndex() === $index"
                            ng-animate="'prompt'" class="question__prompt">
                            <h1 class="question__number">Question 3</h1>
                            <h2 class="question__query">Fight Move</h2>
                        </div>
                        <div class="question__userAnswer"
                            ng-if="$index === inputCtrl.currentPromptIndex()"
                            ng-animate="'response-' + inputCtrl.currentDirection" >
	                    <input class="question__input">
	                    </input>
                        <h6 class="question__characterCount">24
                        </h6>
                    </div>
                </li>
                <ul class="progressDock2"> <!-- MAKE THIS THE NEW PROGRESSDOCK CLASS -->
                    <li><img src="../img/input_check.png"></li>
                    <li><img src="../img/input_check.png"></li>
                    <li><img src="../img/input_blank.png"></li>
                    <li><img src="../img/input_blank.png"></li>
                    <li><img src="../img/input_blank.png"></li>
                    <li><img src="../img/input_blank.png"></li>
                    <li><img src="../img/input_blank.png"></li>
                    <li><img src="../img/input_blank.png"></li>
                    <li><img src="../img/input_blank.png"></li>
                    <li><img src="../img/input_blank.png"></li>
                </ul>
                
                <button class="question__btnStart"
                style="margin-top: 80px;"> <!-- ADD THIS TO STYLESHEET -->
                <span class="ir">Start</span>
            </button>
            
            <button class="question__btnNext">
                <span class="ir">Next</span>
            </button>
                        
            <button class="question__btnPrevious">
                <span class="ir">Prev</span>
            </button>
            
            </ul>
        </form></div>
        <!--<footer class="progressDock">Page {{inputCtrl.currentPromptIndex() + 1}} of {{inputCtrl.totalPrompts()}}</footer>-->
     
</div>
  </body>
</html>
