<div class="about__group">
    <h1 class="about__hdr group--hdr tk--hdr">What is Screenjack?</h1>
    <p class="about__copy"><strong><em>Screenjack</em></strong> is a video-style fill-in-the-blank word game that lets you create hilarity out of featured clips from popular movies and television.</p>
    <div class="about__copy-group">
        <img class="about__img-left" src="http://localhost:9000/assets/experiences/screenjack/app/assets/img/about_categories.png">
        <p class="about__caption-right">When you start, we provide you a variety of genre-based categories to choose from.</p>
    </div>
    <div class="about__copy-group">
        <p class="about__caption-left">After you select a category, “edit” the video’s script by filling in the blanks based on the prompt provided.</p>
        <img class="about__img-right" src="assets/img/about_input.png">
    </div>
    <p class="about__copy">When you’re finished, your custom <strong><em>Screenjack</em></strong> video will be created. All you have to do is sit back, relax, and enjoy the show!</p>
    <br class="clearspace"></br>
</div>
